{% extends "files/base.html" %}
{% load crispy_forms_tags %}


{% block title %}Add a File{% endblock %}


{% block breadcrumbs %}{{ block.super }}<li class="breadcrumb-item active" aria-current="page">Add a File</li>{% endblock %}

{% block extra_head %}
{{ block.super }}

<script src="https://unpkg.com/@deltablot/dropzone@7/dist/dropzone-min.js" integrity="sha256-egjHZu7e6McLuItbzLWJxtaa4UHkKm4UZOgkqRGobUY=" crossorigin="anonymous"></script>
<link
  rel="stylesheet"
  href="https://unpkg.com/@deltablot/dropzone@7/dist/dropzone.css"
  type="text/css"
  integrity="sha256-JNd8cTA4Ws4a2IPpfYck5+pmligPx2J1ZKfpjl1U/ic="
  crossorigin="anonymous"
/>

{% endblock %}

{% block content %}

<h2>Add a File</h2>
<form id="filebaby" class="dropzone" action="" method="post" enctype="multipart/form-data">
  <div class="fallback">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Upload</button>
  </div>
</form>

<a href="{% url 'files:list' %}" class="btn btn-secondary mt-4">Back to Files</a>

<script>
  // Dropzone has been added as a global variable.
  const dropzone = new Dropzone(
    "#filebaby",
    {
      url: "{{ request.path }}",
      maxFilesize: 10, // in MB
      headers: {
        "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]").value,
        "X-Requested-By": "Dropzone"
      }
    }
  );
  dropzone.on("error", (file, message) => {
    // Show the error message in an alert
    const msg = message["error"];
    if (typeof messagesController !== "undefined") {
      messagesController.addMessage(msg, "danger");
    } else {
      console.log(msg);
    }
  });
</script>

{% endblock %}
