{% extends "focused.html" %}


{% block title %}Password Reset Complete{% endblock %}


{% block breadcrumbs %}{{ block.super }}<li class="breadcrumb-item active" aria-current="page">Password Reset Complete</li>{% endblock %}


{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
        <div class="card">
            <div class="card-header">
                <h1>Password Reset Complete</h1>
            </div>
            <div class="card-body">
                <p>Your password has been set. You may go ahead and <a href="{% url 'users:signin' %}">log in</a> now.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
